nav li {
    display: inline;
    font-size: 20px;
    background-color: white;
    padding: 1px;
    border-style: solid;
    border-radius: color blue;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 30px;}
    

nav a {
    text-decoration: none;
    color: black;
}

nav a:hover {
    text-decoration: underline;
    color:cornflowerblue

}

button {
    border: 2px solid black;
    font-size: medium;
	padding: 10px 25px;
	display: block;
	margin-bottom: 20px;
}
button:hover {
	background-color: black;
	color: white;
}

form input,form select {
    display: block;
}
html {
    background-image: url(https://www.visittheusa.com/sites/default/files/styles/hero_m_1300x700/public/images/hero_media_image/2017-05/9dbea438bcd305129064e4a048cc6b52.jpeg?itok=d3L2A_Rd);
    background-size: cover;


}
img {

    border: 5px dotted black;
    padding: 10px;
}


h2 {
    color: coral;
    font-size: 30px;

}

li {

    color: rgb(6, 10, 53);
    font-size: large;
    font-weight: bold;
}

/*  use commans to separate multimple selectors */
table, th, td {
    border: 1px solid black;
}

table {
    background-color: burlywood;
    padding: 15px;
    margin: 0 auto;/* margin: 0 auto; when ther eis 2 numbers the first number is for top+buttom, the second is for right+left */
}

th, td {
    background-color: white;
    padding: 5px 
}


#footerColor {
    color: white;
    background-color: black;
    font-size: large; 
}
